/* .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
} */

/* .container {
    width: min(100% - 40px, 1340px);
    margin-inline: auto;
} */