:root {
    /* Base */
    --white: #ffffff;
    --black: #000000;

    /* Gray */
    --gray-100: #f1f5f9;
    --gray-300: #cbd5e1;

    /* Blue */
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;

    /* Purple */
    --purple-200: #ddd6fe;
    --purple-300: #c4b5fd;

    /* Green */
    --green-200: #bbf7d0;
    --green-300: #86efac;

    /* Yellow */
    --yellow-200: #fde68a;

    /* Pink */
    --pink-200: #fbcfe8;
}