@use "../lib" as *

.cases-panel
  display: flex
  width: calc(100% + 20px)
  flex-wrap: nowrap
  gap: 20px
  padding: 0
  overflow-x: auto
  scroll-snap-type: x mandatory
  background: transparent

  @include media(tablet)
    width: 100%
    flex-wrap: wrap

  @include media(desktop)
    width: 100%
    gap: 0
    padding: 70px 60px
    overflow: visible
    border-radius: $radius
    background: $dark

.case-item
  flex: 0 0 calc(100% - 50px)
  padding: 42px
  border-radius: $radius
  background: $dark
  color: $white
  scroll-snap-align: start

  @include media(tablet)
    flex-basis: calc(50% - 10px)

  @include media(desktop)
    flex: 0 0 33.3333%
    padding: 0 64px
    border-right: 1px solid $white
    border-radius: 0

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0
      border: 0

  p
    margin-bottom: 32px

  .icon-link
    color: $green
