@use "../abstracts/variables" as vars
@use "../abstracts/mixins" as mix
@use "../abstracts/placeholders"

.stats
  background: vars.$color-accent
  padding: vars.$space-xl 0

  @include mix.responsive(vars.$bp-tablet)
    padding: vars.$space-xl-desktop 0

.stats__container
  @include mix.flex($align: center, $justify: space-between, $wrap: wrap, $gap: vars.$space-lg)

  @include mix.responsive(vars.$bp-tablet)
    gap: vars.$space-lg-desktop

.stats__item
  @include mix.flex($align: center, $gap: vars.$space-sm)

.stats__icon
  width: 50px
  height: 50px
  flex-shrink: 0

.stats__info
  @include mix.flex($direction: column)

.stats__number
  @extend %heading-accent

.stats__label
  @include mix.text(vars.$fs-body, vars.$fw-regular, vars.$lh-body, vars.$color-white)
