@use "../lib" as *

.site-header
  padding-top: 30px

  @include media(desktop)
    padding-top: 60px

  .navbar
    display: flex
    min-height: 24px
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    padding: 0

    @include media(desktop)
      min-height: 68px

  .navbar-collapse
    flex-basis: 100%
    padding-top: 16px

    @include media(desktop)
      flex-basis: auto
      padding-top: 0

.navbar-brand
  display: inline-flex
  align-items: center

.brand-logo
  width: 144px
  height: 24px

  @include media(desktop)
    width: 220px
    height: 36px

.navbar-toggler
  width: 24px
  height: 24px
  padding: 0
  border: 0

  &:focus
    box-shadow: none

.navbar-nav
  display: flex
  flex-direction: column
  gap: 8px
  align-items: stretch
  margin: 0 0 0 auto
  padding: 0
  list-style: none

  @include media(desktop)
    flex-direction: row
    gap: 40px
    align-items: center

.nav-link
  padding-block: 6px !important
  color: $dark

  &:hover
    color: $green

  @include media(desktop)
    padding: 20px 0 !important
    font-size: 20px
